:host {
  width: 100%;
}

h1 {
  font-size: 40px;
  color: #275A42;
  max-width: 1260px;
  padding: 10px;
  margin: 30px auto;
}

.comments-management {
  border-right: 1px solid #D4D8CA;
  border-bottom: 1px solid #D4D8CA;
  width: 100%;
  max-width: 1240px;
  margin: 30px auto;
}

.comments-title, .comment {
  display: flex;
}

.comments-title > div:first-child, .comment > div:first-child {
  width: 225px;
  flex-grow: 0;
}

.comments-title > div, .comment > div {
  padding: 10px;
  border-left: 1px solid #D4D8CA;
  border-top: 1px solid #D4D8CA;
  flex-grow: 1;
}

.comments-title > div:last-child, .comment > div:last-child {
  width: 350px;
  flex-grow: 0;
}

.comments-title {
  font-weight: bold;
  background: #FFFFFF;
}

.comment img {
  width: 85px;
  margin-right: 15px;
}

.article a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
}

.comment:nth-child(2n) {
  background: #F9F9F9;
}

.comment > div:nth-child(2) {
  font-size: 14px;
  color: #4F4E4B;
}

.accept {
  color: #00DB58;
  cursor: pointer;
  margin-right: 20px;
}

.delete {
  color: #DC0000;
  cursor: pointer;
}

.comment > div:first-child {
  font-size: 16px;
  padding-top: 20px;
}

.no-comment {
  width: 100% !important;
  text-align: center;
  padding: 10px !important;
}

::ng-deep .darkmode app-comments {
  background: #232323 !important;

  .comments-management div, .comments-management p, .comments-management a:not(.accept, .delete) {
    color: #FFFFFF !important;
  }

  h1 {
    color: #FFFFFF !important;
  }

  .comments-title {
    background: #FFFFFF1A !important;
  }

  .comment:nth-child(2n+1) {
    background: #FFFFFF1A !important;
  }

  .comment {
    background: #232323 !important;
  }
}

@media all and (max-width: 1260px) {
  .comments-management {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
}


@media all and (max-width: 992px) {
  .comments-title {
    display: none;
  }

  .comment {
    flex-direction: column;
    border: 1px solid #D4D8CA;
    align-items: center !important;
    text-align: center !important;
  }

  .comment > div {
    width: 100% !important;
    border: none !important;
  }

  .article a {
    justify-content: center !important;
  }
}
